<div class="row">
  <div class="col-md-3">
    <div id="<%= dom_id restaurant %>">
      
      <% if @restaurant.image_url %>
        <%= image_tag @restaurant.image_url %>
      <% end %>
      
      
      <h2>
        <%= restaurant.name.upcase %>
      </h2>

      <p>
        <strong>Address:</strong>
        <%= restaurant.address %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= restaurant.phone %>
      </p>

      <p>
        <strong>Website:</strong>
        <%= link_to restaurant.website, restaurant.website %>
      </p>

       <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

    </div>
  </div>


  <div class="col-md-9">
  <% if @reviews.blank? %>
    <h2>No reviews yet. Be the first to write one!</h2>
  <% else %>
  <table class="table">

  <thead>
    <tr>
      <th class="col-md-3"></th>
      <th class="col-md-9"></th>
    </tr>
  </thead>

    <tbody>
      <% @reviews.each do |review|%>
        <tr>
        <td>
          <h4>
            <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}"%>
          </h4>
          <p><%= review.created_at.strftime("%-m/%-d/%y/ %M:%S %p") %></p>
        </td>
          <td>
            <p><%= review.rating%></p>
            <p><%= review.comment.capitalize%></p>
          </td>
        </tr>
        
      <% end %>
  <% end %>
    </tbody>
  
  </table>
    
  </div>

</div>











