<%= form_with(model: [@restaurant, @review]) do |form| %>
  <% if @review.errors.any? %>
    <div style="color: red", class="alert alert-danger alert-dismissable">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <h4><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :rating, style: "display: block", class: "form-label" %>
    <%= form.number_field :rating, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :comment, style: "display: block", class: "form-label"%>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
